deb http://10.210.2.103/repository/debian/ bookworm main non-free-firmware
deb-src http://10.210.2.103/repository/debian/ bookworm main non-free-firmware

deb http://10.210.2.103/repository/debian-security/ bookworm-security main non-free-firmware
deb-src http://10.210.2.103/repository/debian-security/ bookworm-security main non-free-firmware

deb http://10.210.2.103/repository/debian/ bookworm-updates main non-free-firmware
deb-src http://10.210.2.103/repository/debian/ bookworm-updates main non-free-firmware