deb http://10.210.2.103/repository/ubuntu/      jammy main universe
deb http://10.210.2.103/repository/ubuntu/      jammy-updates universe
deb http://10.210.2.103/repository/ubuntu/      jammy-security universe