version: "3"
services:
  nexus:
    ports:
      - "8081:8081"
    image: sonatype/nexus3:3.68.1
    hostname: nexus
    restart: unless-stopped
    volumes:
      - "nexus-data-main:/nexus-data"
volumes:
  nexus-data-main: